@model TravelersAround.ServiceProxy.ViewModels.FriendsListView

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Friends List</h2>

<p>
    
</p>
<table>
    <tr>
        <th></th>
        <th>
            Firstname
        </th>
        <th>
            Lastname
        </th>
        <th>
            Birthdate
        </th>
        <th>
            StatusMessage
        </th>
        <th>
            Gender
        </th>
    </tr>

@foreach (var friend in Model.Friends) {
    <tr>
        <td>
            @Html.ActionLink("Send Message", "Send", new { controller = "Messages", id = friend.TravelerID }) |
            @Html.ActionLink("Remove", "Remove", new { id = friend.TravelerID })
        </td>
        <td>
            @friend.Firstname
        </td>
        <td>
            @friend.Lastname
        </td>
        <td>
            @friend.Birthdate
        </td>
        <td>
            @friend.StatusMessage
        </td>
        <td>
            @friend.Gender
        </td>
        <td>
            @friend.IsAvailable
        </td>
    </tr>
}

</table>

