@model TravelersAround.ServiceProxy.ViewModels.FriendsListView

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Friends List</h2>

<p>
    
</p>
@if (Model.FriendsList.Entities.Count > 0)
{
    
    foreach (var friend in Model.FriendsList.Entities)
    {
        <div class="traveler_record">
            <div >
                <img class="profile_pic" src="@Url.Action("LoadPicture", "Profile", new { id = friend.TravelerID })" alt="@String.Concat(friend.Firstname, " ", friend.Lastname)" />
            </div>
            <div>
                <p>@friend.Firstname @friend.Lastname</p>
                <p>@(DateTime.Now.Year-DateTime.Parse(friend.Birthdate).Year), @friend.Gender</p>
            </div>
            <div>
                @friend.StatusMessage
            </div>
            <div>
                @friend.IsAvailable
                @Html.ActionLink("Send Message", "Send", new { controller = "Messages", id = friend.TravelerID }) |
                @Html.ActionLink("Remove", "Remove", new { id = friend.TravelerID })
            </div>
        </div>
    }
}
else
{
    <p>Friends list is empty</p>
}

@Html.ActionLink("Previous", "Index", new { p = Model.Page - 1 })
@Html.ActionLink("Next", "Index", new { p = Model.Page + 1 })