@model TravelersAround.ServiceProxy.ViewModels.FriendsListView

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Friends List</h2>

<p>
    
</p>
@if (Model.FriendsList != null)
{
    <table>
        <tr>
            <th>
                Firstname
            </th>
            <th>
                Lastname
            </th>
            <th>
                Birthdate
            </th>
            <th>
                StatusMessage
            </th>
            <th>
                Gender
            </th>
            <th></th>
        </tr>

    @foreach (var friend in Model.FriendsList)
    {
        <tr>
            <td>
                @friend.Firstname
            </td>
            <td>
                @friend.Lastname
            </td>
            <td>
                @friend.Birthdate
            </td>
            <td>
                @friend.StatusMessage
            </td>
            <td>
                @friend.Gender
            </td>
            <td>
                @friend.IsAvailable
            </td>
            <td>
                @Html.ActionLink("Send Message", "Send", new { controller = "Messages", id = friend.TravelerID }) |
                @Html.ActionLink("Remove", "Remove", new { id = friend.TravelerID })
            </td>
        </tr>
    }

    </table>
}
else
{
    <p>No friend in friends list</p>
}
