@model TravelersAround.ServiceProxy.ViewModels.FriendsListView

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Friends list</h2>

<p>
    @Html.ValidationSummary()
</p>
@if (Model.FriendsList.TotalEntitiesCount > 0)
{
    <ul id="search-results" class="rounded-box">
    @foreach (var traveler in Model.FriendsList.Entities)
    {
        <li>
            <img class="profile_pic" src="@Url.Action("LoadPicture", "Profile", new { id = traveler.TravelerID })" alt="@String.Concat(traveler.Firstname, " ", traveler.Lastname)" />
            <div class="traveler-info">
                <p>@traveler.Firstname @traveler.Lastname</p>
                <p>@(DateTime.Now.Year - DateTime.Parse(traveler.Birthdate).Year), @traveler.Gender</p>
                <p>@traveler.City, @traveler.Country</p>
            </div>
            <div class="traveler-statusmsg">
                <p>@traveler.StatusMessage</p>
            </div>
            <div class="search-buttons">
                <a class="remove-icon" title="Remove from friends list" href="@Url.Action("Remove", "Friends", new { id = traveler.TravelerID })">Remove</a>
                <a class="send-message-icon" title="Send a message" href="@Url.Action("Send", "Messages", new { id = traveler.TravelerID })">Send message</a>
            </div>
        </li>
    }
    </ul>
}
else
{
    <p>Friends list is empty</p>
}
@if (Model.FriendsList.TotalPageCount > 0)
{
    if (Model.FriendsList.HasPrevious)
    {
        @Html.ActionLink("Previous", "Index", new { p = Model.Page - 1 })
    }
    if (Model.FriendsList.TotalPageCount > 0)
    {
        for (int i = 0; i < Model.FriendsList.TotalPageCount + 1; i++)
        {
            @Html.ActionLink((i + 1).ToString(), "Index", new { p = i })      
        }
    }
    if (Model.FriendsList.HasNext)
    {
        @Html.ActionLink("Next", "Index", new { p = Model.Page + 1 })
    }
}