@model TravelersAround.ServiceProxy.ViewModels.FriendsListView

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Friends List</h2>

<p>
    @Html.ValidationSummary()
</p>
@if (Model.FriendsList.TotalEntitiesCount > 0)
{
    <table>
    @foreach (var traveler in Model.FriendsList.Entities)
    {
        <tr>
            <td>
                <img class="profile_pic" src="@Url.Action("LoadPicture", "Profile", new { id = traveler.TravelerID })" alt="@String.Concat(traveler.Firstname, " ", traveler.Lastname)" />
            </td>
            <td>
                <p>@traveler.Firstname @traveler.Lastname</p>
                <p>@(DateTime.Now.Year - DateTime.Parse(traveler.Birthdate).Year), @traveler.Gender</p>
                <p>@traveler.City, @traveler.Country</p>
            </td>
            <td>
                @traveler.StatusMessage
            </td>
            <td>
                @Html.ActionLink("Send Message", "Send", new { controller = "Messages", id = traveler.TravelerID })
                @Html.ActionLink("Remove", "Remove", new { id = traveler.TravelerID })
            </td>
        </tr>
    }
    </table>
}
else
{
    <p>Friends list is empty</p>
}
@if (Model.FriendsList.TotalPageCount > 0)
{
    if (Model.FriendsList.HasPrevious)
    {
        @Html.ActionLink("Previous", "Index", new { p = Model.Page - 1 })
    }
    if (Model.FriendsList.TotalPageCount > 0)
    {
        for (int i = 0; i < Model.FriendsList.TotalPageCount + 1; i++)
        {
            @Html.ActionLink((i + 1).ToString(), "Index", new { p = i })      
        }
    }
    if (Model.FriendsList.HasNext)
    {
        @Html.ActionLink("Next", "Index", new { p = Model.Page + 1 })
    }
}