@model TravelersAround.ServiceProxy.ViewModels.MessagesListView

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Send")
    @Html.ActionLink("Sent", "Index", new { folder = "Sent" })
    @Html.ActionLink("Inbox", "Index", new { folder = "Inbox" })
</p>
<table>
    <tr>
        <th>
            Subject
        </th>
        <th>
            @if (Model.Folder.Equals("Inbox", StringComparison.CurrentCultureIgnoreCase))
            {
                @: From
            }
            else
            {
                @: Recipient
            }
        </th>
        <th>
            Sent Date
        </th>
        <th></th>
    </tr>

@foreach (var message in Model.MessagesList)
{
    <tr>
        <td>
            @if (!message.IsRead)
            {
                <strong>@Html.ActionLink(message.Subject, "Read", new { id = message.MessageID })</strong>
            }
            else
            {
                @Html.ActionLink(message.Subject, "Read", new { id = message.MessageID })
            }
        </td>
        <td>
            @if (Model.Folder.Equals("Inbox", StringComparison.CurrentCultureIgnoreCase))
            {
                @message.SenderName
            }
            else
            {
                @message.RecipientsNames.First()
            }
        </td>
        <td>
            @message.SentDate
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = message.MessageID })
        </td>
    </tr>
}

</table>

