@model TravelersAround.ServiceProxy.ViewModels.MessagesListView

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Send")
</p>
<table>
    <tr>
        <th>
            Subject
        </th>
        <th>
            From
        </th>
        <th>
            Sent Date
        </th>
        <th></th>
    </tr>

@foreach (var message in Model.MessagesList) {
    <tr>
        <td>
            @if (!message.IsRead)
            {
                <strong>@Html.ActionLink(message.Subject, "Read", new { id = message.MessageID })</strong>
            }
            else
            {
                @Html.ActionLink(message.Subject, "Read", new { id = message.MessageID })
            }
        </td>
        <td>
            @message.SenderName
        </td>
        <td>
            @message.SentDate
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = message.MessageID })
        </td>
    </tr>
}

</table>

