@model TravelersAround.ServiceProxy.ViewModels.MessageReadView

@{
    ViewBag.Title = "Read";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Read</h2>

<fieldset>
    <legend>MessageView</legend>

    <div class="display-label">From</div>
    <div class="display-field">@Model.Message.SenderName</div>

    <div class="display-label">To</div>
    <div class="display-field">@Model.Message.RecipientsNames.FirstOrDefault()</div>

    <div class="display-label">Sent Date</div>
    <div class="display-field">@Model.Message.SentDate</div>

    <div class="display-label">Subject</div>
    <div class="display-field">@Model.Message.Subject</div>

    <div class="display-label">Body</div>
    <div class="display-field">@Model.Message.Body</div>


</fieldset>
<p>
    @Html.ActionLink("Reply", "Send", new { id = Model.Message.SenderID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Message.MessageID }) |
    @Html.ActionLink("Back to List", "Index", new { folder = Model.ReturnToFolder ?? "Inbox" })
</p>

