@model TravelersAround.ServiceProxy.ViewModels.MessageReadView

@{
    ViewBag.Title = "Read";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Message.Subject</h2>

<div class="rounded-box">
    <div class="display-label">From</div>
    <div class="display-field">@Model.Message.SenderName</div>

    <div class="display-label">To</div>
    <div class="display-field">@Model.Message.RecipientsNames.FirstOrDefault()</div>

    <div class="display-label">Sent Date</div>
    <div class="display-field">@Model.Message.SentDate</div>

</div>
<div class="rounded-box">

    <div class="display-field">@Model.Message.Body</div>


</div>
<p>
    @Html.ActionLink("Reply", "Send", new { id = Model.Message.SenderID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Message.MessageID }) |
    @Html.ActionLink("Back to list", "Index", new { folder = Model.ReturnToFolder ?? "Inbox" })
</p>

