@model TravelersAround.ServiceProxy.ViewModels.MessageSendView

@{
    ViewBag.Title = "Send";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Send</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>MessageSendView</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subject)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Subject)
            @Html.ValidationMessageFor(model => model.Subject)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Body)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Body)
            @Html.ValidationMessageFor(model => model.Body)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RecipientID)
        </div>
        <div class="editor-field">
            @if (Model.FriendsDropDownList.Count > 0)
            {
                <select class="editor-field" name="RecipientID">
                @foreach (var item in Model.FriendsDropDownList)
                {
                    <option value="@item.Value" @if (item.Value == Model.RecipientID) { <text>selected="selected"</text> }>@item.Name</option>
                }
                </select>
            }
            else if (!String.IsNullOrEmpty(Model.RecipientID))
            {
                @Html.HiddenFor(model => model.RecipientID)
                @Model.RecipientName
            }
            else
            {
                @: Friend list is empty or invalid traveler ID
            }
            @Html.ValidationMessageFor(model => model.RecipientID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

