@model TravelersAround.ServiceProxy.ViewModels.ProfileDisplayView

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profile</h2>

<fieldset>
    <legend>Personal details</legend>

    @*<img src="@Url.Content("~/Content/img/anonymous.jpg")" alt="Profile Picture" />*@
    <img class="profile_pic" src="@Url.Action("LoadPicture", "Profile", new { id = Model.Profile.TravelerID })" alt="Profile Picture" />
    <div class="display-label">Firstname</div>
    <div class="display-field">@Model.Profile.Firstname</div>

    <div class="display-label">Lastname</div>
    <div class="display-field">@Model.Profile.Lastname</div>

    <div class="display-label">Birthdate</div>
    <div class="display-field">@DateTime.Parse(Model.Profile.Birthdate).ToShortDateString()</div>

    <div class="display-label">Status message</div>
    <div class="display-field">@Model.Profile.StatusMessage</div>

    <div class="display-label">Gender</div>
    <div class="display-field">@Model.Profile.Gender</div>

    <div class="display-label">Available?</div>
    <div class="display-field">@Model.Profile.IsAvailable</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit")
</p>

