<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    @if (User.Identity.IsAuthenticated)
    {
        <script src="@Url.Content("~/Scripts/TravelersAround.js")" type="text/javascript"></script>
    }
</head>

<body>
    <div class="page">

        <div id="header">
            <div id="logo">
                <a href="@Url.Action("Index", "Home")" ><img border="0" src="@Url.Content("~/Content/img/logo.png")" alt="TravelersAround LOGO" /></a>
            </div>

            <div id="login-display-container">
                @Html.Partial("_LoginControl")
                @if (Request.IsAuthenticated)
                {
                    Html.RenderAction("SessionInfo", "Profile");
                }
            </div>

            <div id="menucontainer">
                @Html.Partial("_Menu")
            </div>
        </div>

        <div id="main">
            <div id="content-container">
                @Html.Partial("_UiNotification")
                @RenderBody()
            </div>
        </div>
        <div id="footer">
            <div id="copyright">
                TravelersAround (c) 2011 developed by <a href="http://fi.linkedin.com/in/nimroddayan">Nimrod Dayan</a>
            </div>
            <ul>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li><a href="#">Feedback</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Rules</a></li>
                @*<li><a href="https://github.com/Nimrodda/TravelersAround">Sorce code</a></li>*@
            </ul>
            
        </div>
    </div>
</body>
</html>
