@if (!Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOn", "Account"))
    {
    <div>
        <div class="editor-label">
            @Html.Label("Email")
            @Html.TextBox("Email")
        </div>    
        <div>
            @Html.Label("Password")
            @Html.Password("Password")
        </div>
        <div>
            @Html.CheckBox("RememberMe")
            @Html.Label("RememberMe")
            <input type="submit" value="Login" />
        </div>
        <div>
            @Html.ActionLink("Register", "Register", "Account")
        </div>
    </div>
    }
}
