@model TravelersAround.ServiceProxy.ViewModels.SearchView

@{
    ViewBag.Title = "Look for travelers around you";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Travelers around you right now</h2>

<div>
    @using (Html.BeginForm()) {
        
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Define your search</legend>

            <div class="editor-field">
                @Html.EditorFor(model => model.AvailabilityMark)
                @Html.ValidationMessageFor(model => model.AvailabilityMark)
            </div>

            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
    }
</div>

<table>
    <tr>
        <th></th>
        <th>
            Firstname
        </th>
        <th>
            Lastname
        </th>
        <th>
            Age
        </th>
        <th>
            StatusMessage
        </th>
        <th>
            Gender
        </th>
        <th>
            IsAvailable
        </th>
    </tr>

@foreach (var traveler in Model.Travelers)
{
    <tr>
        <td>
            @Html.ActionLink("Add to friends list", "Add", new { controller = "Friends", id = traveler.TravelerID }) |
            @Html.ActionLink("Send message", "Send", new { controller = "Messages", id = traveler.TravelerID })
        </td>
        <td>
            @traveler.Firstname
        </td>
        <td>
            @traveler.Lastname
        </td>
        <td>
            @traveler.Birthdate
        </td>
        <td>
            @traveler.StatusMessage
        </td>
        <td>
            @traveler.Gender
        </td>
        <td>
            @traveler.IsAvailable
        </td>
    </tr>
}

</table>

