@model TravelersAround.ServiceProxy.ViewModels.SearchView

@{
    ViewBag.Title = "Look for travelers around you";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Travelers around you right now</h2>

<div>
    @using (Html.BeginForm())
    {
        
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Define your search</legend>

            <div class="editor-field">
                @Html.EditorFor(model => model.IncludeOfflineTravelers)
                @Html.LabelFor(model => model.IncludeOfflineTravelers)
                @Html.ValidationMessageFor(model => model.IncludeOfflineTravelers)
            </div>

            <p>
                <input type="submit" value="Search" />
            </p>
        </fieldset>
    }
</div>
<div>
    <ul>
    @foreach (var traveler in Model.Travelers.Entities)
    {
        <li>
            <div class="traveler_record">
                <div>
                    <img class="profile_pic" src="@Url.Action("LoadPicture", "Profile", new { id = traveler.TravelerID })" alt="@String.Concat(traveler.Firstname, " ", traveler.Lastname)" />
                </div>
                <div>
                    <p>@traveler.Firstname @traveler.Lastname</p>
                    <p>@(DateTime.Now.Year - DateTime.Parse(traveler.Birthdate).Year), @traveler.Gender</p>
                    <p>@traveler.City, @traveler.Country</p>
                </div>
                <div>
                    @traveler.StatusMessage
                </div>
                <div>
                    @traveler.IsAvailable
                    <a href="@Url.Action("Add", "Friends", new { id = traveler.TravelerID })">
                        <img src="@Url.Content("~/ContentResult/img/icons/plus.jpg")" alt="Add to friends list" /></a>
                    <a href="@Url.Action("Send", "Messages", new { id = traveler.TravelerID })">
                        <img src="@Url.Content("~/ContentResult/img/icons/envelope.jpg")" alt="Send a message" /></a>
                </div>
            </div>
        </li>
    }
    </ul>
</div>

